* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #fff;
    --secondary-color:#000;
    --extra-color:#646363;
    --default-color:#202142;
    --more-color:aqua;
    --some-backgrounds:#f8f9fa;
;}
  
ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* body */
.container{
    background-color: var(--default-color);    
    padding: 10px 0;
    /* position: relative; */
}
.container .nav{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .nav ul{
    display: flex;
    list-style: none;
}
.container .logo a{
    display: flex;
    color: #fff;
}
.container .logo h2{
    position: absolute;
    left: 160px;
}
.container .logo img{
    height: 50px;
    width: 200px;
    object-fit: cover;
}

.nav ul{
    margin-top: 10px;
}
.nav li a{
    margin-right: 40px;
    color: #fff;
}
.nav li a:hover{
    color: aqua;
}

.cartCount{
    right: 32px;
    position: absolute;
    border-radius: 100%;
    background-color: red;
    font-weight: 700;
    font-size: 10px;
    color: var(--primary-color);
    width: 15px;
    height: 15px;
    text-align: center;
}
/* Burgericon */
.burgericon{
    /* border: 1px solid var(--primary-color); */
    padding: 7px 5px 0;
    width: 45px;
    border-radius: 5px;
    display: none;
}
.burgericon .line{
    border-top: 3px solid var(--primary-color);
    display: block;
    margin-bottom: 5px;
}

.shortCards{
    z-index: 10;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    /* border: 2px solid var(--default-color); */
    right: -5px;
    top: 20px;
    width: 200px;
    height: 450px;
}
.shortCards ul{
    text-align: center;
    display: flex;
    margin: 30px 0;
    font-weight: 700;
    flex-direction: column;
    padding: 0 10px;
}
.shortCards  a{
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid var(--default-color);
    color: var(--default-color);
    border-radius: 10px;
}
.shortCards a:hover{
    color: var(--primary-color);
    background-color: var(--default-color);
}
.shortCards .cancel{
    cursor: pointer;
    position: absolute;
    left: 180px;
    top: -5px;
    color: #000;
}

.shortCards .cart{
    padding:0;
    margin: 0;
    border: none;
    color: none;
    border-radius: none;
}
.shortCards .cart:hover{
    color:var(--default-color);
    background-color: transparent;
}


/* content */
.content{
    position: relative;
    margin: 70px 0;
    text-align: center;
}
.content h1{
    font-size: 50px;
    color: var(--primary-color);
    
}
.content p{
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    color: var(--primary-color);
}
.content a{
    color:var(--primary-color);
    /* background-color: #fff; */
    border: 2px solid var(--primary-color);
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
    position: absolute;
    bottom: -60px;
    right: 600px;
}
.content a:hover{
    color: var(--default-color);
    background-color: var(--primary-color);
}

.intro-about-us{
    position: relative;
    background-color: var(--some-backgrounds);
}
.intro-details {
    width: 95%;
    height: 35vh;
    margin: 20px auto;
    padding: 20px;
}
.intro-details a{
    border: 2px solid var(--extra-color);
    padding: 10px;
    color: var(--extra-color);
    border-radius: 10px;
    position: absolute;
    top: 140px;
}
.intro-details a:hover{
    transform: scale(0.98);
    opacity: 0.9;
}
.intro-details p{
    color: var(--extra-color);
}

/* Products section */
/*More on products  */
.banner{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
.banner .links{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.banner .links a{
    border:1px solid var(--extra-color);
    border-radius: 10px;
    padding: 10px;
    color:var(--extra-color);
    font-weight: 700;
}
.banner .links a:hover{
    border: 2px solid var(--default-color);
    color: var(--default-color);
}
.banner .links h2{
    color: var(--extra-color);
}

.banCards{
    width: 95%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.miniBanCards{
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    padding: 20px;
    position: relative;
    margin: 20px auto;
    width:400px;
}
.miniBanCards h4{
    font-size: 20px;
    color: var(--extra-color);
}
.miniBanCards h5{
    /* width: 80%; */
    font-size: 15px;
    color: var(--default-color);
}
.miniBanCards strong{
    font-size: 15px;
    color: var(--extra-color);
}
.miniBanCards img{
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 10px;
    object-fit: cover;
}
.miniBanCards p{
    font-size: 15px;
}
.miniBanCards a{
    padding: 3px;
    border: 1px solid var(--default-color);
    border-radius: 10px;
    color: var(--default-color);
    /* font-weight: 700; */
    margin: 10px;
    position: relative;
    top:10px;
    left: 190px;
    
}

.miniBanCards a:hover{
    background-color: var(--default-color);
    color: var(--primary-color);
}
.MoreContent{
    display: flex;
    justify-content: space-between;
    background-color: var(--default-color);
    padding: 70px;
    position: relative;
    margin: 20px 0 0;
}
.MoreContent .partOne{
    width: 40%;
    margin: 0;
}

.MoreContent .partOne h3{
    color: aqua;
    margin: 10px 0;
}

.MoreContent .partOne h1{
    font-size: 30px;
    color: var(--primary-color);
}
.MoreContent .partTwo {
    width: 40%;
    margin: 40px 0px;
}
.MoreContent .partTwo p{
    color: var(--primary-color);
    font-weight: 700;
}
.MoreContent .partTwo a{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 50px;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    font-weight: 700;
}
.MoreContent .partTwo a:hover{
    background-color: var(--primary-color);
    color: var(--default-color);
}


/* footer section */
.containerr{
    background-color: var(--secondary-color);    
    padding: 20px 0;
    position: relative;
}

.containerr .logo, .containerr .logo h2{
    margin: 20px 500px;
}

.containerr .logo a{
    display: flex;
    color: #fff;
}
.containerr .logo p{
    text-align: center;
    color: var(--primary-color);
    margin-top: 10px;
}
.containerr .logo h2{
    position: absolute;
    left: 160px;
   margin-top: 0px;
}
.containerr .logo img{
    height: 50px;
    width: 200px;
    object-fit: cover;
}
.dot{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 35%;
}

.dot a{
    text-decoration:underline;
    color: #000;

}
/* sign up page */
.signBody{
    width: 80%;
    margin: 50px auto;
}

.card input{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 300px;
    position: relative;
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--extra-color);
    
}
.card button{
    cursor: pointer;
    background-color: var(--default-color);
    color: var(--primary-color);
    margin-top:30px;
    padding: 10px 120px;
    white-space: nowrap;
    border-radius: 10px;  
    border: none;
}

.card form{
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    padding: 30px;
    border-radius: 10px;
    height: 670px;
}
.card{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* height: 550px; */
}

.card .textDetails{
    margin: 180px 0;
    width: 50%;

}
.card .textDetails h1{
    font-size: 50px;
    color: var(--default-color);
}
.card .textDetails h3{
    font-size: 20px;
    color: var(--extra-color);
}

.extra{
    position: absolute;
    bottom: 2px;
    left: 20px;
    width: 30%;
    text-decoration:underline;
    font-size: 15px;
}

.extra:hover{
    color: var(--extra-color);
}

.countryContainer .country{
    margin: 10px 0;
    padding: 10px 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--extra-color);
    outline: none;
    width: 300px;
}

.eye{
    cursor: pointer;
    position: absolute;
    right: 760px;
    bottom: 160px;
}
.signBody .extrapads{
    padding: 10px 42px 10px 10px;
}

.valMessage{
    color: red;
    font-size: 12px;
    width: 300px;
}



/* Login page */
.loginCard{
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    width: 400px;
    border-radius: 10px;
    margin: 50px auto;
}
.loginCard form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.loginCard form input{
    margin: 10px 0;
    padding: 10px 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--extra-color);
    position: relative;
}
.loginCard .extrapads{
    padding: 10px 42px 10px 5px;
}
.loginCard form button{
    border: none;
    cursor: pointer;
    background-color: var(--default-color);
    color: var(--primary-color);
    margin-top:10px;
    width: 340px;
    white-space: nowrap;
    margin-left: -1px;
    border-radius: 10px;  
}
.loginCard p{
    font-size: 15px;
    margin: 10px 0 0;
}
.loginCard h3, .loginCard h6{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.loginCard .create{
    text-align: center;
    border: 2px solid var(--default-color);
    padding: 5px;
    border-radius: 10px;
    color: var(--default-color);
    font-weight: 700;
    margin: 10px 0;
}
.loginCard .create:hover{
    color: var(--primary-color);
    background-color: var(--default-color);
}
.loginCard .log{
    text-align: center;
    margin-bottom: 20px;
}
.loginCard .log:hover{
    color:var(--extra-color);
}

.eyes{
    position: absolute;
    cursor: pointer;
    right: 520px;
    bottom: 340px;
}

/* logout section */
.logoutContainer{
    text-align: center;
    margin-top: 20px;
}
.logoutContainer h3{
    font-size: 25px;
    color: var(--default-color);
    font-weight: 700;
}
.logoutContainer p{
    font-size: 14px;
    color: red;
}
.logoutContainer .btn{
    display: flex;
    margin: 10px auto;
    width: 25%;
    white-space: nowrap;
}
.logoutContainer .continue{
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 10px;
    color: var(--extra-color);
    border: 2px solid var(--extra-color);
}
.logoutContainer .out{
    margin-left: 20px;
    padding: 10px 15px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: var(--primary-color);
    background-color: var(--extra-color);
}

.logoutContainer .out:hover{
    transform: scale(0.98);
    opacity: 0.9;
}
.logoutContainer .continue:hover{
    transform: scale(0.98);
    opacity: 0.9;
}
/* Product Details*/
.prodDetails h3{
    padding: 20px;
    font-size: 25px;
    margin-left: 40px;
    color: var(--extra-color);
}
.prodDetails{
    margin-bottom:20vh;
}

.prodSection{
    display: flex;
    width: 90%;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.images img{
    height: 350px;
    width: 400px;
    object-fit: cover;
}

.details{
    margin:50px 30px 0;
    position: relative;
}
.details a{
    border: 2px solid var(--extra-color);
    color: var(--extra-color);
    font-weight: 700;
    padding: 10px 50px;
    position: absolute;
    white-space: nowrap;
    bottom: 100px;
}
.details a:hover{
    background-color: var(--extra-color);
    color: var(--primary-color);
}

.banSpacing{
    margin-bottom: 50px;
}

.style{
    color: red;
    margin-top: 10px;
}

/* Cart section */
.cartContainer{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.midSection1{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
    border: 1px solid var(--extra-color);
    padding: 10px;
    border-radius: 5px;
}

.cartContainer .section1{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    border-radius: 5px;
    padding: 20px;
}
.cartContainer .secConImg img{
    width: 130px;
    height: 120px;
    object-fit: cover;
    margin-top: 20px;
}

.cartContainer .secConDetails1 a{
    display: flex;
    margin-top: 10px;
    color:var(--default-color);
}
.cartContainer .secConDetails1 a:hover{
    color: #eb3c3cef;
}

.cartContainer .secConDetails1 hr{
    width:150px;
}

.cartContainer .secConDetails2{
    margin-top: 50px;
    width: 50%;
}
.cartContainer .secConDetails2 h6, .cartContainer .secConDetails2 h5{
    font-size: 15px;
}
.cartContainer .secConDetails2 p{
    color: var(--secondary-color);
    font-size: 12px;
    width: 70%;
}

.cartContainer .secConSales{
    margin-top: 20px;
    margin-left: 30px;
}

.cartContainer ,.midSection1 .secConSales h5{
    font-size: 14px;
}

.cartContainer .secConSaleQuantity{
    display: flex;
    margin-top: 50px;
}

.cartContainer .secConSaleQuantity .quantityCount{
    margin: 0 30px;
    font-size: 20px;
    font-weight: 700;
}

.sec2Con{
    /* width: 230px; */
    margin: 30px 20px;
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    border-radius: 5px;
    padding: 20px;
}

.sec2Con h4{
    font-size: 15px;
}

.sec2ConDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sec2Con p{
    font-size: 12px;
    margin-bottom: 30px;
}

.sec2Con a{
    display: flex;
    flex-direction: column;
    padding: 10px 150px;
    white-space: nowrap;
    margin-top: 10px;
    text-align: center;
    background-color: var(--default-color);
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
}
.sec2Con a:hover{
    transform: scale(0.98);
    opacity: 0.9;
}

.emptyCart{
    width: 90%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    height: 300px;
    text-align: center;
    padding-top:20px;
}
.emptyCartItem .cartIcon{
    background-color: var(--default-color);
    border-radius: 100px;
    padding: 15px;
    width: 90px;
    height: 90px;
    color:var(--primary-color);
}
.emptyCartItem h5{
    margin: 20px 0;
}
.emptyCart a{
    background-color: var(--default-color);
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 10px;
    position: relative;
    top: 15px;
}
/* Category Section */
.categoryContainer{
    /* background-color: var(--default-color); */
    /* color: var(--primary-color); */
    padding: 10px;
}

.category{
    display: flex;
}
.category li{
    margin: 30px 0 10px;
}

.category a{
    margin: 0 25px;
    background-color: var(--default-color);
    padding: 10px 30px;
    color: var(--primary-color);
    border-radius: 20px;
    border: none;
}

.categoryContainer h2{
    color: var(--default-color);
    text-align: center;
    margin-top: 30px;
}

.category a:hover{
    transform: scale(0.9);
    opacity: 0.9;
}

/* category details */
.catDetails{
    width: 100%;
}

.catItems{
    margin: 30px auto 0px auto;
    width:90%;
    text-align: center;
}
.catItems h1{
    color: var(--default-color);
}
.catItems p{
    color: var(--extra-color);
}

.banCards .loader{
    color: #202142;
    position: absolute;
    left: 620px;
    top: 30px;
}
/* Contact section */
.contactContainer{
    width: 80%;
    margin: 40px auto;
    background-color: var(--some-backgrounds);
    height: 120vh;
}

.pill h2{
    font-size: 20px;
}
.pill p{
    font-size: 20px;
    color: var(--color-link);
    
}
.pill{
    padding: 30px 0;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.pillar{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.pillar .int_1{
    padding: 15px;
    outline: none;
    
}
.pillar .int_1 textarea{
    resize: none;
}
.pillar .int_2{
    padding: 20px 0 20px 10px;
    width: 500px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--extra-color);
}

.contactContainer .submit{
    color: #fff;
    background-color: var(--default-color);
    border: none;
    padding: 15px 220px;
    border-radius: 15px;
    position: relative;
    top: 20px;
}


.too{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.boys h3, p{
    font-size: 20px;
}
.boys{
    padding: 10px 0;
}
.yam{
    padding: 30px 20px;
}

/* About us section */
.address{
    padding: 100px 0;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}
.talk h1{
    color: var(--color-primary);
    font-size: 40px;
}

.talk p{
    padding: 20px;
    font-size: 20px;
}

.talk a{
    color: #fff;
    background-color: var(--default-color);
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
    top: 25px;
}

.talk a:hover{
    opacity: 0.9;
}


.our-founding{
    height: 55vh;
    background-color: var(--some-backgrounds);
}

.our-founding .found{
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.found{
    width: 90%;
}

.found img, .veer .found img{
    border-radius: 10px;
    width: 350px;
    height: 250px;
    object-fit: cover;
}

.veer .found{
    display: flex;
    margin: 70px auto;
    justify-content: space-between;
}

.spec{
    width: 90%;
    margin: 0 auto;
    padding: 70px 20px 0;
}
.spec-1{
    width: 90%;
    margin: 0 auto;
    padding: 70px 0 30px 0;
}
.spec h2{
    font-size:30px;
}
.spec p{
    color: var(--extra-color);
    font-size: 20px;
    padding:10px auto;
}
.spec-1 h2{
    font-size:30px;
}
.spec-1  p{
    color: var(--extra-color);
    font-size: 20px;
    padding:10px auto;
}
.spec,.spec-1{
    width: 50%;
}

/* checkout sections */
/* Checkout.css */

.checkout-container {
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
    display: flex;
    border: 1px solid var(--extra-color);
    border-radius: 8px;
    justify-content: space-between;
}

.cart-preview h2{
    text-align: center;
}

.checkout-section form{
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
}
.checkout-section .form-group{
    margin-right: 270px;
}

.cart-prev-container{
    width: 900px;
    margin-left: 20px;
    padding-top: 10px;
  }
  
  .cart-prev-containerImg img{
      width: 130px;
    height: 120px;
    object-fit: cover;
    margin-top: 20px;
  }
  
  .cart-prev-container .secConDetails1 a{
      display: flex;
        margin-top: 10px;
        color:var(--default-color);
    }

    .cart-prev-container .secConDetails1 a:hover{
        color: #eb3c3cef;
    }
    
    .cart-prev-container .secConDetails2{
        margin-top: 50px;
        width: 50%;
    }
    .cart-prev-container .secConDetails2 h6, .cartContainer .secConDetails2 h5{
        font-size: 15px;
    }
    .cart-prev-container .secConDetails2 p{
        color: var(--secondary-color);
        font-size: 12px;
        width: 70%;
    }
    
    .cart-prev-container .secConSales{
        margin-top: 20px;
        margin-left: 30px;
    }
    
    .cart-prev-container ,.midSection1 .secConSales h5{
        font-size: 14px;
    }
    
    .cart-prev-container .secConSaleQuantity{
        display: flex;
        margin-top: 50px;
    }
    
    .cart-prev-container .secConSaleQuantity .quantityCount{
        margin: 0 30px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .checkout-section {
        width: 350px;
        margin-bottom: 20px;
        padding: 15px;
    }
    .checkout-section h2{
        text-align: center;
    }
    
    .checkout-section input{
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        width: 300px;
        border-radius: 10px;
        outline: none;
        padding-left: 5px;
    }
  button {
    margin-left: 10px;
    width: 300px;
    padding: 12px;
    background-color: var(--default-color);
    color: var(--some-backgrounds);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:hover {
    transform: scale(0.98);
    opacity: 0.9;
  }

  /* cart preview error */
  .cartPreviewErr{
    text-align: center;
    color: red;
    font-weight: 700;
    padding: 15px 40px;
    border: 2px solid red;
    margin: 20px auto;
    width: 90%;
  }
  .cartPreviewErr:hover{
    transform: scale(0.9);
  }

  /* order redirect */
  .showOrderContainer{
    text-align: center;
    margin: 50px auto;
    width: 60%;
  }
  .orderLoader{
    left: 300px;
  }
  .showOrderContainer h4{
    color: red;
  }

  /* orders */
    .orderDetailsCon ul{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        background-color: var(--some-backgrounds);
        /* color: var(--primary-color); */
        padding: 7px;
    }

    .orderDetails li{
        padding: 5px 0;
        font-weight: 700;
        white-space: nowrap;
    }

    .orderDetails .orderLinking{
        background-color: var(--default-color);
        color: var(--primary-color);
        padding: 6px;
        border-radius: 7px;
        font-size: 14px;
    }

    .orderDetails .orderLinking:hover{
        transform: scale(0.8);
        opacity: 0.9;
    }

    /* order user info */
    .user-order-details{
        display: flex;
        justify-content: space-between;
        background-color: var(--extra-color);
        width: 95%;
        margin: 20px auto;
        padding: 20px;
    }
    .user-info h1{
        color: var(--default-color);
    }

    .user-info p{
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 700;
    }
    /* orderItems */
    .order-items-container{
        display: flex;
        justify-content: space-between;
        background-color: var(--some-backgrounds);
        width: 90%;
        margin: 30px auto;
    }
    .partA .customer-details, .partA .shipping-method, .partA .paymentmethod, .partA .itemsOrdered{
        width: 500px;
        background-color: var(--primary-color);
        box-shadow: 0px 4px 8px 0px var(--extra-color);
        border: 1px solid var(--extra-color);
        margin: 15px;
        padding: 10px;
    }
    .partA .customer-details .flexcustomer{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .partA .customer-details h3, .partA .shipping-method h3, .partA .paymentmethod h3, .partA .paymentmethod h4, .partA .itemsOrdered h3{
        color: var(--extra-color);
        font-size: 15px;
        padding-top: 7px;
    }

    .partA .customer-details .flexcustomer p, .partA .shipping-method p, .partA .paymentmethod p, .partA .itemsOrdered p{
        font-size: 14px;
        font-weight: 700;
    }
    .partA .paymentmethod .flexpaymentmethod{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .partA .itemsOrdered .miniItemsOrdered img{
        padding: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .partA .itemsOrdered .miniItemsOrdered{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid var(--extra-color);
        margin: 7px 0;
    }

    .partB{
        width: 500px;
        height: 150px;
        background-color: var(--primary-color);
        box-shadow: 0px 4px 8px 0px var(--extra-color);
        border: 1px solid var(--extra-color);
        margin: 15px;
        padding: 10px;
    }

    .partB .ordersumprice{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .partB .ordersumprice h3{
        color: var(--extra-color);
        font-size: 15px;
        padding-top: 7px;
    }
    .partB .ordersumprice p{
        font-size: 14px;
        font-weight: 700;
    }

/* Introduction responsiveness for mobile */
@media screen and (max-width: 600px) {
    .nav li a{
        display: none;
    }
    .container .logo img{
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .container .nav{
        display: flex;
        margin-right:50px;
        width: 90%;
    }
    .container .logo h2{
        left: 110px;
        font-size: 20px;
    }
    .burgericon{
        display: block;
        justify-content: space-around;
    }
    .cartCount{
        display: none;
    }
    .intro-details {
        height: 30vh;
    }
    .intro-details p{
        font-size: 15px;
    }
    .intro-details a{
        top: 190px;
    }
    .content{
        width: 90%;
        margin: 50px auto;
    }
    .content h1{
        font-size: 30px;
    }
    .content p{
        font-size: 15px;
        width: 90%;
        padding-bottom: 20px;
    }
    .content a{
        position: relative;
        padding: 7px;
        bottom: 0px;
        right: 0px;
    }
    /* Banner */
    .banner{
        width: 90%;
    }
    .banner .links a{
        padding: 7px;
        font-size: 12px
    }
    .banner .links h2{
        font-size: 15px;
    }
    .banCards{
        width: 90%;
    }
    .miniBanCards{
        margin: 0 auto 20px;
        width: 300px;

    }
    .miniBanCards img{
        height: 200px;
        width: 250px;
        object-fit: cover;

    }
    .miniBanCards a{
       left: 150px;
       font-size: 16px;
    }
    .prodDetails h3{
        text-align: center;
    }
    .images img{
        height: 200px;
        width: 300px;
        object-fit: cover;
    }
    .details{
        text-align: center;
    }
    .MoreContent{
        flex-direction: column;
    }
    .MoreContent .partOne{
        width: 90%;
        margin: 0 auto;
    }
    .MoreContent .partOne h1{
        font-size: 20px;
    }
    .MoreContent .partTwo{
        width: 90%;
        margin: 40px auto;
    }
    .MoreContent .partTwo p{
        font-size: 20px;
        text-align: center;
    }
    .MoreContent .partTwo a{
        top: 30px;
        margin-left: 30px;
        position: relative;
    }
    .containerr .logo, .containerr .logo h2{
        margin: 20px 80px;
    }
    .containerr .logo h2{
        left: 110px;
        top: 25px;
        font-size: 20px;
    }
    .containerr .logo img{
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .containerr .logo p{
        font-size: 18px;
    }
    
    /* category container */
    .category{
        width: 90%;
        margin: 30px auto;
        flex-direction: column;
    }
    .category a{
        margin: 10px auto;
        padding: 10px 50px;
        font-size: 12px;
    }
    /* about us */
    .address{
        width: 90%;
        margin: 0 auto;
    }
    .talk h1{
        width: 90%;
        margin: 0 auto;
        font-size: 30px;
    }

    .our-founding .found{
        flex-direction: column;
        width: 90%;
    }
    .veer .found{
        width: 90%;
        flex-direction: column;
    }
    .found img, .veer .found img{
        width: 250px;
        height: 200px;
        margin: 0 auto;
    }
    .spec, .spec-1{
        padding: 10px 0;
        width: 90%;
    }
    .spec h2, .spec-1 h2{
        font-size: 25px;
       text-align: center;
    }
    .spec p, .spec-1 p{
        font-size: 15px;
    }
    /* contact */
    .contactContainer{
        width: 90%;
        height: 90vh;
    }
    .pill{
        width: 90%;
    }
    .pillar{
        width: 90%;
    }
    .pillar .int_2{
        width: 280px;
    }
    .pillar .int_1{
        padding:5px;
    }
    .contactContainer .submit{
        padding: 15px 120px;
    }
    .too{
        width: 90%;
        flex-direction: column;
        /* margin-top: 30px; */
    }
    /* Checkout section */
    .prodSection{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        
    }
    .prodDetails{
        width: 90%;
        margin: 0 auto 20vh;
    }
    
    .details{
        width: 90%;
        margin: 20px auto;
        /* text-align: center; */
    }
    .details a{
        position: relative;
        top: 20px;
        left: 8px;
    }
    /* Sign up page */
    .signBody{
        width: 90%;
        margin: 30px auto;
    }
    .card{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }
    .card .textDetails h1{
        font-size: 30px;
    }
    .card .textDetails{
        width: 90%;
        margin: 20px auto;
        text-align: center;
        
    }
    .card input{
        width: 250px;
    }
    .card form{
        width: 300px;   
       height: 670px;
       margin: 50px auto;
    }
    .card button{
        padding: 10px 0;
        width: 240px;
        text-align: center;
    }
    .countryContainer .country{
        width: 250px;
    }
    .eye{
        right: 40px;
        bottom: 385px; 
    }
    
    .extra{
        /* position: relative; */
        width: 90%;
        margin: 0 auto;
        bottom: 230px;
        text-align: center;
    }
    .card .firstExtra{
        padding: 10px 95px;
    }

    /* order page */
    .orderDetailsCon ul{
        flex-direction: column;
        margin: 10px auto;
    }
    .orderDetailsCon li{
        font-size: 14px;
    }

    /* logout page*/
    .logoutContainer{
        width: 90%;
        margin: 0 auto;
    }
    .logoutContainer .btn{
        width: 100%;
        flex-direction: column;
        white-space: nowrap;
    }
    .logoutContainer .out{
        padding: 20px 0;
        width: 100%;
        margin: 10px 0;
    }

    /* OrderItems */
    .order-items-container{
        flex-direction: column;
    }
    .partA .customer-details, .partA .shipping-method, .partA .paymentmethod, .partA .itemsOrdered{
        width: 350px;
        margin: 20px auto;
    }
    .partA .customer-details .flexcustomer{
        flex-direction: column;
    }
    .partB{
        width: 350px;
        margin: 0px auto;
    }
    .cartContainer{
        flex-direction: column;
    }
    .cartContainer .section1{
        width: 100%;
    }
    .sec2Con a{
        text-align: center;
        padding: 10px 120px; 
    }
    .cartContainer .secConSales{
        margin-left: 0px;
    }
    .checkout-container{
        width: 90%;
    }
    .checkout-section form{
        flex-direction: column;
    }
    .cart-prev-container{
        width:90%;
        margin-left: 20px;
        padding-top: 10px;
    }
    .cart-prev-container .secConSales{
        margin-left: 0px;
    }
    button {
        margin-left: -10px;
        text-align: center;
        width: 300px; 
    }

    /* category details */
    .catItems{
        margin: 20px auto;
    }
    
    /* Login page */
    .loginCard{
        width:300px;
        width: 90%;
        margin: 100px auto;
    }
    .loginCard form{
        height: 500px;
    }
    .loginCard form button{
        width: 290px;
        margin: 10px auto;
    }
    /* cart page */
    .cartContainer{
        margin: 70px auto;
    }
    .cartContainer input{
        width: 65px;
    }
    
    .picSide img{
        width: 70px;
        height: 50px;
    }
}

/* Introduction responsiveness for tablet */
@media screen and (min-width:601px) and (max-width:1024px){
    .nav li a{
        display: none;
    }
    .container .logo img{
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .container .nav{
        display: flex;
        margin-right:50px;
        width: 90%;
    }
    .container .logo h2{
        left: 110px;
        font-size: 20px;
    }
    .burgericon{
        display: block;
        justify-content: space-around;
    }
    .content{
        width: 90%;
        margin: 50px auto;
    }
    .content h1{
        font-size: 30px;
    }
    .content p{
        font-size: 15px;
        width: 90%;
        padding-bottom: 20px;
    }
    .content a{
        position: relative;
        padding: 7px;
        bottom: 0px;
        right: 0px;
    }
    .MoreContent .partTwo a{
        top: 30px;
        margin-left: 0px;
        position: relative;
    }
    .containerr .logo, .containerr .logo h2{
        margin: 20px 80px;
    }
    .containerr .logo  h2{
        bottom: 25px;
        position: relative;
        left: 100px;
        font-size: 20px;
    }
    .containerr .logo img{
        position: relative;
        left: 200px;
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .containerr .logo p{
        font-size: 18px;
    }
    /* Category page */
    .category{
        width: 90%;
        margin: 30px auto;
        flex-direction: column;
    }
    .category a{
        margin: 10px auto;
        padding: 10px 50px;
        font-size: 12px;
    }
    /* About us page */
    .category{
        width: 90%;
        margin: 30px auto;
        flex-direction: column;
    }
    .category a{
        margin: 10px auto;
        padding: 10px 50px;
        font-size: 12px;
    }
    /* about us */
    .address{
        width: 90%;
        margin: 0 auto;
    }
    .talk h1{
        width: 90%;
        margin: 0 auto;
        font-size: 30px;
    }

    .our-founding .found{
        flex-direction: column;
        width: 90%;
    }
    .veer .found{
        width: 90%;
        flex-direction: column;
    }
    .found img, .veer .found img{
        width: 450px;
        height: 300px;
        margin: 0 auto;
    }
    .spec, .spec-1{
        padding: 10px 0;
        width: 90%;
    }
    .spec h2, .spec-1 h2{
        font-size: 35px;
       text-align: center;
    }
    .spec p, .spec-1 p{
        font-size: 25px;
    }
    /* contact container */
    .contactContainer{
        width: 90%;
        height: 90vh;
    }
    .pill{
        width: 90%;
    }
    .pillar{
        width: 90%;
    }
    .pillar .int_2{
        width: 480px;
    }
    .contactContainer .submit{
        padding: 15px 220px;
    }
    .too{
        width: 90%;
        flex-direction: row;
    }
    /* checkout section */
    .prodSection{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        
    }
    .prodDetails{
        width: 90%;
        margin: 0 auto 20vh;
    }
    
    .details{
        width: 90%;
        margin: 20px 0;
        /* text-align: center; */
    }
    .details a{
        position: relative;
        top: 20px;
        left: 8px;
    }
    /* Sign up page */
    .signBody{
        width: 90%;
        margin:30px auto;
    }
    .card{
        flex-direction: column;
        width: 90%;
        margin: 70px auto;
    }
    .card .textDetails h1{
        font-size: 50px;
    }
    .card .textDetails{
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    .card input{
        width: 450px;
    }
    .card form{
        width: 510px;   
       height: 550px;
       margin: 50px auto;
    }
    .extra{
        width: 90%;
        margin: 0 auto;
        bottom: 230px;
        text-align: center;
    }
    .card .firstExtra{
        padding: 10px 195px;
    
    }
    /* log in page */
    .loginCard{
        width:300px;
        width: 90%;
        margin: 100px auto 170px;
    }
    .loginCard form{
        height: 500px;
    }
    /* cart page */
    .cartContainer{
        margin: 100px auto 220px;
    }
    .cartContainer input{
        width: 65px;
    }
    
    .picSide img{
        width: 70px;
        height: 50px;
    }
}
