* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #fff;
    --secondary-color:#000;
    --extra-color:#646363;
    --default-color:#202142;
    --more-color:aqua;
    --some-backgrounds:#f8f9fa;
;}
  
ul {
    list-style: none;
}

a{
    text-decoration: none;
}

/* body */
.container{
    background-color: var(--default-color);    
    padding: 10px 0;
    /* position: relative; */
}
.container .nav{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .nav ul{
    display: flex;
    list-style: none;
}
.container .logo a{
    display: flex;
    color: #fff;
}
.container .logo h2{
    position: absolute;
    left: 160px;
}
.container .logo img{
    height: 50px;
    width: 200px;
    object-fit: cover;
}

.nav ul{
    margin-top: 10px;
}
.nav li a{
    margin-right: 40px;
    color: #fff;
}
.nav li a:hover{
    color: aqua;
}

/* Burgericon */
.burgericon{
    /* border: 1px solid var(--primary-color); */
    padding: 7px 5px 0;
    width: 45px;
    border-radius: 5px;
    display: none;
}
.burgericon .line{
    border-top: 3px solid var(--primary-color);
    display: block;
    margin-bottom: 5px;
}

.shortCards{
    z-index: 10;
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    /* border: 2px solid var(--default-color); */
    right: -5px;
    top: 20px;
    width: 200px;
    height: 275px;
}
.shortCards ul{
    text-align: center;
    display: flex;
    margin: 30px 0;
    font-weight: 700;
    flex-direction: column;
    padding: 0 10px;
}
.shortCards  a{
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid var(--default-color);
    color: var(--default-color);
    border-radius: 10px;
}
.shortCards a:hover{
    color: var(--primary-color);
    background-color: var(--default-color);
}
.shortCards .cancel{
    cursor: pointer;
    position: absolute;
    left: 180px;
    top: -5px;
    color: #000;
}

/* content */
.content{
    margin: 70px 0;
    text-align: center;
}
.content h1{
    font-size: 50px;
    color: var(--primary-color);
    
}
.content p{
    font-size: 20px;
    width: 60%;
    margin: 0 auto;
    color: var(--primary-color);
}
.content a{
    color:var(--primary-color);
    /* background-color: #fff; */
    border: 2px solid var(--primary-color);
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    right: 600px;
}
.content a:hover{
    color: var(--default-color);
    background-color: var(--primary-color);
}

/* Products section */
/*More on products  */
.banner{
    position: relative;
    width: 95%;
    margin: 0 auto;
}
.banner .links{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.banner .links a{
    border:1px solid var(--extra-color);
    border-radius: 10px;
    padding: 10px;
    color:var(--extra-color);
    font-weight: 700;
}
.banner .links a:hover{
    border: 2px solid var(--default-color);
    color: var(--default-color);
}
.banner .links h2{
    color: var(--extra-color);
}

.banCards{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
}
.miniBanCards{
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
}
.miniBanCards h4{
    font-size: 20px;
    color: var(--extra-color);
}

.miniBanCards strong{
    font-size: 15px;
    color: var(--extra-color);
}
.miniBanCards img{
    position: relative;
    width: 300px;
    height: 250px;
    margin-top: 10px;
    object-fit: cover;
}
.miniBanCards p{
    font-size: 15px;
}
.miniBanCards a{
    padding: 7px;
    border: 2px solid var(--default-color);
    border-radius: 10px;
    color: var(--default-color);
    font-weight: 700;
    position: absolute;
    left: 200px;
    bottom: 10px;
}

.miniBanCards a:hover{
    background-color: var(--default-color);
    color: var(--primary-color);
}
.MoreContent{
    display: flex;
    justify-content: space-between;
    background-color: var(--default-color);
    padding: 70px;
    position: relative;
    margin: 20px 0 0;
}
.MoreContent .partOne{
    width: 40%;
    margin: 0;
}

.MoreContent .partOne h3{
    color: aqua;
    margin: 10px 0;
}

.MoreContent .partOne h1{
    font-size: 30px;
    color: var(--primary-color);
}
.MoreContent .partTwo {
    width: 40%;
    margin: 40px 0px;
}
.MoreContent .partTwo p{
    color: var(--primary-color);
    font-weight: 700;
}
.MoreContent .partTwo a{
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 10px 50px;
    border-radius: 20px;
    position: absolute;
    top: 250px;
    font-weight: 700;
}
.MoreContent .partTwo a:hover{
    background-color: var(--primary-color);
    color: var(--default-color);
}


/* footer section */
.containerr{
    background-color: var(--secondary-color);    
    padding: 20px 0;
    position: relative;
}

.containerr .logo, .containerr .logo h2{
    margin: 20px 500px;
}

.containerr .logo a{
    display: flex;
    color: #fff;
}
.containerr .logo p{
    text-align: center;
    color: var(--primary-color);
    margin-top: 10px;
}
.containerr .logo h2{
    position: absolute;
    left: 160px;
   margin-top: 0px;
}
.containerr .logo img{
    height: 50px;
    width: 200px;
    object-fit: cover;
}
.dot{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 35%;
}

.dot a{
    text-decoration:underline;
    color: #000;

}
/* sign up page */
.signBody{
    width: 80%;
    margin: 50px auto;
}

.card input{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 300px;
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--extra-color);
    
}
.card .firstExtra{
    background-color: var(--default-color);
    color: var(--primary-color);
    padding: 10px 120px;
    white-space: nowrap;
    border-radius: 10px;
    
}

.card form{
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    padding: 30px;
    border-radius: 10px;
    height: 470px;
}
.card{
    display: flex;
    justify-content: space-between;
    position: relative;
    /* height: 450px; */
}

.card .textDetails{
    margin: 80px 0;
    width: 40%;

}
.card .textDetails h1{
    font-size: 50px;
    color: var(--default-color);
}
.card .textDetails h3{
    font-size: 20px;
    color: var(--extra-color);
}

.extra{
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 30%;
    text-decoration:underline;
    font-size: 15px;
}

.extra:hover{
    color: var(--extra-color);
}



/* Login page */
.loginCard{
    box-shadow: 0px 4px 8px 0px var(--extra-color);
    width: 400px;
    border-radius: 10px;
    margin: 50px auto;
}
.loginCard form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.loginCard form input{
    margin: 10px 0;
    padding: 10px 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--extra-color);
}
.loginCard form .logIn{
    text-align: center;
    background-color: var(--default-color);
    padding: 5px;
    border-radius: 10px;
    color: var(--primary-color);
}
.loginCard p{
    font-size: 15px;
    margin: 10px 0 0;
}
.loginCard h3, .loginCard h6{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.loginCard .create{
    text-align: center;
    border: 2px solid var(--default-color);
    padding: 5px;
    border-radius: 10px;
    color: var(--default-color);
    font-weight: 700;
    margin: 10px 0;
}
.loginCard .create:hover{
    color: var(--primary-color);
    background-color: var(--default-color);
}
.loginCard .log{
    text-align: center;
    margin-bottom: 20px;
}
.loginCard .log:hover{
    color:var(--extra-color);
}
/* Checkout section */
.prodDetails h3{
    padding: 20px;
    font-size: 25px;
    margin-left: 40px;
    color: var(--extra-color);
}
.prodDetails{
    margin-bottom:20vh;
}

.prodSection{
    display: flex;
    width: 90%;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.images img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.details{
    margin:50px 30px 0;
    position: relative;
}
.details a{
    border: 2px solid var(--extra-color);
    color: var(--extra-color);
    font-weight: 700;
    padding: 10px 50px;
    position: absolute;
    bottom: 100px;
}
.details a:hover{
    background-color: var(--extra-color);
    color: var(--primary-color);
}

.banSpacing{
    margin-bottom: 50px;
}

/* Cart section */
.cartContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    justify-content: space-between;
}
.picSide img{
    width: 100px;
    height: 50px;
    object-fit: cover;
}
.picSide h3{
    font-weight: 700;
    /* text-align: center; */
    font-size: 20px;
    color: var(--extra-color);
}
.cartContainer .textSide{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.cartContainer .textSide h2{
    color: var(--extra-color);
}
.twoContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.cartContainer .textSide h3{
    margin-top: 40px;
    text-align: center;
}
.cartContainer input{
    /* margin-top: 30px; */
    padding: 10px 5px;
    width: 150px;
    border-radius: 10px;
    border: 2px solid var(--extra-color);
}
.textSide2{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 0 auto;
}
.textSide2 h2{
    color: var(--extra-color);
    margin: 0 20px;
}

.cartContainer label input{
    pointer-events: none;
}
.cartContainer a{
    background-color: var(--default-color);
    color: var(--primary-color);
    font-size: 700;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    margin: 30px auto;
}
.cartContainer a:hover{
    opacity:0.9;
}

/* Category Section */
.categoryContainer{
    /* background-color: var(--default-color); */
    /* color: var(--primary-color); */
    padding: 10px;
}

.category{
    display: flex;
    margin: 30px 0 20px;
}

.category a{
    margin: 0 35px;
    background-color: var(--default-color);
    padding: 10px;
    color: var(--primary-color);
    border-radius: 20px;
    border: none;
}

.categoryContainer h2{
    color: var(--default-color);
    text-align: center;
    margin-top: 30px;
}

.category a:hover{
    opacity: 0.9;
}

/* Contact section */
.contactContainer{
    width: 80%;
    margin: 40px auto;
    background-color: var(--some-backgrounds);
    height: 120vh;
}

.pill h2{
    font-size: 20px;
}
.pill p{
    font-size: 20px;
    color: var(--color-link);
    
}
.pill{
    padding: 30px 0;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

.pillar{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.pillar .int_1{
    padding: 15px;
    outline: none;
    
}
.pillar .int_1 textarea{
    resize: none;
}
.pillar .int_2{
    padding: 20px 0 20px 10px;
    width: 500px;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--extra-color);
}

.contactContainer .submit{
    color: #fff;
    background-color: var(--default-color);
    border: none;
    padding: 15px 220px;
    border-radius: 15px;
    position: relative;
    top: 20px;
}


.too{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.boys h3, p{
    font-size: 20px;
}
.boys{
    padding: 10px 0;
}
.yam{
    padding: 30px 20px;
}

/* About us section */
.address{
    padding: 100px 0;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}
.talk h1{
    color: var(--color-primary);
    font-size: 40px;
}

.talk p{
    padding: 20px;
    font-size: 20px;
}

.talk a{
    color: #fff;
    background-color: var(--default-color);
    padding: 15px 30px;
    border-radius: 10px;
    position: relative;
    top: 25px;
}

.talk a:hover{
    opacity: 0.9;
}


.our-founding{
    height: 60vh;
    background-color: var(--some-backgrounds);
}

.our-founding .found{
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.found{
    width: 90%;
}

.found img, .veer .found img{
    border-radius: 10px;
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.veer .found{
    display: flex;
    margin: 70px auto;
    justify-content: space-between;
}

.spec{
    width: 90%;
    margin: 0 auto;
    padding: 70px 20px 0;
}
.spec-1{
    width: 90%;
    margin: 0 auto;
    padding: 70px 0 30px 0;
}
.spec h2{
    font-size:30px;
}
.spec p{
    color: var(--extra-color);
    font-size: 20px;
    padding:10px auto;
}
.spec-1 h2{
    font-size:30px;
}
.spec-1  p{
    color: var(--extra-color);
    font-size: 20px;
    padding:10px auto;
}
.spec,.spec-1{
    width: 50%;
}

/* Introduction responsiveness for mobile */
@media screen and (max-width: 600px) {
    .nav li a{
        display: none;
    }
    .container .logo img{
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .container .nav{
        display: flex;
        margin-right:50px;
        width: 90%;
    }
    .container .logo h2{
        left: 110px;
        font-size: 20px;
    }
    .burgericon{
        display: block;
        justify-content: space-around;
    }
    .content{
        width: 90%;
        margin: 50px auto;
    }
    .content h1{
        font-size: 30px;
    }
    .content p{
        font-size: 15px;
        width: 90%;
        padding-bottom: 20px;
    }
    .content a{
        padding: 7px;
        bottom: 20px;
        right: 80px;
    }
    /* Banner */
    .banner{
        width: 90%;
    }
    .banner .links a{
        padding: 7px;
        font-size: 12px
    }
    .banner .links h2{
        font-size: 15px;
    }
    .banCards{
        width: 90%;
    }
    .miniBanCards{
        margin: 0 auto 20px;

    }
    .miniBanCards img{
        height: 200px;
        width: 250px;

    }
    .miniBanCards a{
       left: 150px;
       font-size: 16px;
    }
    .MoreContent{
        flex-direction: column;
    }
    .MoreContent .partOne{
        width: 90%;
        margin: 0 auto;
    }
    .MoreContent .partOne h1{
        font-size: 20px;
    }
    .MoreContent .partTwo{
        width: 90%;
        margin: 40px auto;
    }
    .MoreContent .partTwo p{
        font-size: 20px;
        text-align: center;
    }
    .MoreContent .partTwo a{
        top: 30px;
        margin-left: 30px;
        position: relative;
    }
    .containerr .logo, .containerr .logo h2{
        margin: 20px 80px;
    }
    .containerr .logo h2{
        left: 110px;
        top: 25px;
        font-size: 20px;
    }
    .containerr .logo img{
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .containerr .logo p{
        font-size: 18px;
    }
    
    /* category container */
    .category{
        width: 90%;
        margin: 30px auto;
        flex-direction: column;
    }
    .category a{
        margin: 10px auto;
        padding: 10px 50px;
        font-size: 12px;
    }
    /* about us */
    .address{
        width: 90%;
        margin: 0 auto;
    }
    .talk h1{
        width: 90%;
        margin: 0 auto;
        font-size: 30px;
    }

    .our-founding .found{
        flex-direction: column;
        width: 90%;
    }
    .veer .found{
        width: 90%;
        flex-direction: column;
    }
    .found img, .veer .found img{
        width: 250px;
        height: 200px;
        margin: 0 auto;
    }
    .spec, .spec-1{
        padding: 10px 0;
        width: 90%;
    }
    .spec h2, .spec-1 h2{
        font-size: 25px;
       text-align: center;
    }
    .spec p, .spec-1 p{
        font-size: 15px;
    }
    /* contact */
    .contactContainer{
        width: 90%;
        height: 90vh;
    }
    .pill{
        width: 90%;
    }
    .pillar{
        width: 90%;
    }
    .pillar .int_2{
        width: 280px;
    }
    .pillar .int_1{
        padding:5px;
    }
    .contactContainer .submit{
        padding: 15px 120px;
    }
    .too{
        width: 90%;
        flex-direction: column;
        /* margin-top: 30px; */
    }
    /* Checkout section */
    .prodSection{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        
    }
    .prodDetails{
        width: 90%;
        margin: 0 auto 20vh;
    }
    
    .details{
        width: 90%;
        margin: 20px auto;
        /* text-align: center; */
    }
    .details a{
        position: relative;
        top: 20px;
        left: 8px;
    }
    /* Sign up page */
    .signBody{
        width: 90%;
        margin:30px auto;
    }
    .card{
        flex-direction: column;
        width: 90%;
        margin: 70px auto;
    }
    .card .textDetails h1{
        font-size: 30px;
    }
    .card .textDetails{
        width: 90%;
        margin: 20px auto;
        text-align: center;
        
    }
    .card input{
        width: 250px;
    }
    .card form{
        width: 300px;   
       height: 450px;
       margin: 50px auto;
    }
    .extra{
        /* position: relative; */
        width: 90%;
        margin: 0 auto;
        bottom: 230px;
        text-align: center;
    }
    .card .firstExtra{
        padding: 10px 95px;
    
    }
    /* Login page */
    .loginCard{
        width:300px;
        width: 90%;
        margin: 100px auto;
    }
    .loginCard form{
        height: 500px;
    }
    /* cart page */
    .cartContainer{
        margin: 70px auto;
    }
    .cartContainer input{
        width: 65px;
    }
    
    .picSide img{
        width: 70px;
        height: 50px;
    }
}

/* Introduction responsiveness for tablet */
@media screen and (min-width:601px) and (max-width:1024px){
    .nav li a{
        display: none;
    }
    .container .logo img{
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .container .nav{
        display: flex;
        margin-right:50px;
        width: 90%;
    }
    .container .logo h2{
        left: 110px;
        font-size: 20px;
    }
    .burgericon{
        display: block;
        justify-content: space-around;
    }
    .content{
        width: 90%;
        margin: 50px auto;
    }
    .content h1{
        font-size: 30px;
    }
    .content p{
        font-size: 15px;
        width: 90%;
        padding-bottom: 20px;
    }
    .content a{
        position: relative;
        padding: 7px;
        bottom: 0px;
        right: 0px;
    }
    .MoreContent .partTwo a{
        top: 30px;
        margin-left: 0px;
        position: relative;
    }
    .containerr .logo, .containerr .logo h2{
        margin: 20px 80px;
    }
    .containerr .logo  h2{
        bottom: 25px;
        position: relative;
        left: 100px;
        font-size: 20px;
    }
    .containerr .logo img{
        position: relative;
        left: 200px;
        height: 50px;
        width: 140px;
        object-fit: cover;
    }
    .containerr .logo p{
        font-size: 18px;
    }
    /* Category page */
    .category{
        width: 90%;
        margin: 30px auto;
        flex-direction: column;
    }
    .category a{
        margin: 10px auto;
        padding: 10px 50px;
        font-size: 12px;
    }
    /* About us page */
    .category{
        width: 90%;
        margin: 30px auto;
        flex-direction: column;
    }
    .category a{
        margin: 10px auto;
        padding: 10px 50px;
        font-size: 12px;
    }
    /* about us */
    .address{
        width: 90%;
        margin: 0 auto;
    }
    .talk h1{
        width: 90%;
        margin: 0 auto;
        font-size: 30px;
    }

    .our-founding .found{
        flex-direction: column;
        width: 90%;
    }
    .veer .found{
        width: 90%;
        flex-direction: column;
    }
    .found img, .veer .found img{
        width: 450px;
        height: 300px;
        margin: 0 auto;
    }
    .spec, .spec-1{
        padding: 10px 0;
        width: 90%;
    }
    .spec h2, .spec-1 h2{
        font-size: 35px;
       text-align: center;
    }
    .spec p, .spec-1 p{
        font-size: 25px;
    }
    /* contact container */
    .contactContainer{
        width: 90%;
        height: 90vh;
    }
    .pill{
        width: 90%;
    }
    .pillar{
        width: 90%;
    }
    .pillar .int_2{
        width: 480px;
    }
    .contactContainer .submit{
        padding: 15px 220px;
    }
    .too{
        width: 90%;
        flex-direction: row;
    }
    /* checkout section */
    .prodSection{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        
    }
    .prodDetails{
        width: 90%;
        margin: 0 auto 20vh;
    }
    
    .details{
        width: 90%;
        margin: 20px 0;
        /* text-align: center; */
    }
    .details a{
        position: relative;
        top: 20px;
        left: 8px;
    }
    /* Sign up page */
    .signBody{
        width: 90%;
        margin:30px auto;
    }
    .card{
        flex-direction: column;
        width: 90%;
        margin: 70px auto;
    }
    .card .textDetails h1{
        font-size: 50px;
    }
    .card .textDetails{
        width: 90%;
        margin: 20px auto;
        text-align: center;
    }
    .card input{
        width: 450px;
    }
    .card form{
        width: 510px;   
       height: 450px;
       margin: 50px auto;
    }
    .extra{
        width: 90%;
        margin: 0 auto;
        bottom: 250px;
        text-align: center;
    }
    .card .firstExtra{
        padding: 10px 195px;
    
    }
    /* log in page */
    .loginCard{
        width:300px;
        width: 90%;
        margin: 100px auto 170px;
    }
    .loginCard form{
        height: 500px;
    }
    /* cart page */
    .cartContainer{
        margin: 100px auto 220px;
    }
    .cartContainer input{
        width: 65px;
    }
    
    .picSide img{
        width: 70px;
        height: 50px;
    }
}
